label > input{ 
  visibility: hidden; 
  position: absolute; 
}

label > input + img{ 
  cursor:pointer;
  border:2px solid transparent;
}

label > input:checked + img{ 
  border:10px solid #00274C;
}

.my-btn{
    border: #00274C;
    background: #00274C;
    color: #ffffff;
}
.my-btn:hover, .my-btn:active, .my-btn:focus  {
    border-color: #FBEC5D;
    background-color: #FBEC5D;
    color: #ffffff;
}

.my-btn {
    padding: 18px 28px;
    font-size: 22px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

