<html>
	<head>
        <!-- Google CDN JQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- JQuery -->
        <script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <!-- Custom CSS -->
        <link rel="stylesheet" href="/static/css/main.css" />
        <!-- Favicon Import -->
        <link rel="icon" href="/static/img/favicon.ico">

		<title>SoupsOn</title>
	</head>
	
	<body>
        <form action="submit" method="POST">
            <br />
            <div class="col-xs-2 col-md-2"></div>
            <div class="col-xs-8 col-md-8">
            <center>
                <h1>Please select a question set:</h1>
                <ul class="nav nav-pills nav-stacked">
                    {% for q in range(num_of_questions) %}
                        <li role="presentation"><a href="/{{ q_IDs[q] }}">{{ q_Texts[q] }}</a></li>
                    {% endfor %}
                </ul>
            <center>
            </div>
            <div class="col-xs-2 col-md-2"></div>
        </form>
	</body>
</html>
