<html>
	<head>
        <!-- Google CDN JQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <!-- Custom CSS -->
        <link rel="stylesheet" href="/static/css/main.css" />
        <!-- Favicon Import -->
        <link rel="icon" href="/static/img/favicon.ico">

        <script type="text/javascript">
            $(document).ready(function () {
                if(window.location.href.indexOf("success") > -1) {
                    document.getElementById("success-alert").style.visibility="visible";
                    setTimeout(function(){
                        document.getElementById('success-alert').style.visibility = "hidden";
                    },3000);
                    //$('#success-alert').delay(3000).fadeOut();
                }
            });
        </script>
		<title>SoupsOn</title>
	</head>
	
	<body>
            <div id="success-alert" class="alert alert-success" role="alert" style="visibility:hidden"><b>Success!</b> Thank you for submitting your feedback.</div>
            <div class="col-xs-1 col-md-1">
                <img src="/static/img/soupson.png" style="float:left">
            </div>
            <div class="col-xs-11 col-md-11">
                <form action="submit" method="POST">
                    {% for i in range( num_of_questions ) %}
                        <div class="col-xs-12 col-md-12" style="background-color:{% if i%2 == 0 %}#e6e6e6{% else %}#f2f2f2{% endif %}">
                            <div class="col-xs-12 col-md-12">
                                <h2>{{ q_Texts[i] }}</h2>
                            </div>

                            <centeR>
                                <div class="col-xs-1 col-md-1"></div>
                                <div class="col-xs-10 col-md-10">
                                    <div class="row">
                                        {% for a in range( num_of_answers[i] ) %}
                                            {% if q_Types[i] == 'text' %}
                                                <div class="col-xs-6 col-md-3">
                                            {% endif %}
                                            {% if q_Types[i] == 'rate' %}
                                                <div class="col-xs-2 col-md-2">
                                            {% endif %}
                                            {% if q_Types[i] == 'yn' %}
                                                <div class="col-xs-6 col-md-6">
                                            {% endif %}
                                                <div class="row">
                                                    <input type="hidden" name="{{ q_IDs[i] }}_q_value" value="{{ q_IDs[i] }}" />
                                                    <label>
                                                        <input type="radio" name="{{ q_IDs[i] }}_a_value" value="{{ a_IDs[i][a] }}" required="true"/>
                                                        <img src="{{ a_Images[i][a] }}" alt="{{ a_Texts[i][a] }}" {% if q_Types[i] == 'text' %} class="img-circle"{% endif %} alt="{{ a_Texts[i][a] }}"  width="150" height="150">
                                                        {% if q_Types[i] == 'text' %}
                                                            <figcaption class="figure-caption">{{ a_Texts[i][a] }}</figcaption>
                                                        {% endif %}
                                                    </label>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="col-xs-1 col-md-1"></div>
                            </center>
                        </div>
                    {% endfor %}
                <div class="col-xs-12 col-md-12">
                    <center>
                            <div class="col-xs-2 col-md-2"></div>
                            <div class="col-xs-8 col-md-8">
                                <input type="hidden" name="num_of_questions" value="{{ num_of_questions }}">
                                <button type="submit" value="submit" class="btn btn-lg btn-block my-btn">
                                Submit
                                </button>
                            </div>
                            <div class="col-xs-2 col-md-2"></div>
                    </center>
                </div>
                </form>
            </div>
	</body>
</html>

